In [1]:
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, count, avg, explode, split, lower, dayofweek, year, hour, row_number
from pyspark.sql.window import Window
import matplotlib.pyplot as plt
from wordcloud import WordCloud
import nltk
from nltk.corpus import stopwords
import networkx as nx

In [4]:
# Set up the Spark session
spark = SparkSession.builder \
    .appName("YelpBusinessAnalysis") \
    .getOrCreate()

In [5]:
# Set HDFS file paths
hdfs_business_path = "hdfs://node-master:9000/user/karim/yelp/business/yelp_academic_dataset_business.json"  # Change this to your HDFS path
hdfs_review_path = "hdfs://node-master:9000/user/karim/yelp/review/yelp_academic_dataset_review.json"  # Change this to your HDFS path
hdfs_user_path = "hdfs://node-master:9000/user/karim/yelp/user/yelp_academic_dataset_user.json"  # Change this to your HDFS path
hdfs_checkin_path = "hdfs://node-master:9000/user/karim/yelp/checkin/yelp_academic_dataset_checkin.json"  # Change this to your HDFS path
hdfs_tip_path = "hdfs://node-master:9000/user/karim/yelp/tip/yelp_academic_dataset_tip.json"

In [6]:
# Load the business data from HDFS
df_business = spark.read.json(hdfs_business_path)

25/03/12 02:44:37 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [7]:
# Top 10 businesses with the highest star rating
top_10_businesses = df_business.orderBy('stars', ascending=False).limit(10)
print("Top 10 businesses with the highest star rating:")
top_10_businesses.show()

Top 10 businesses with the highest star rating:

+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|         city|               hours|is_open|  latitude|   longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|       662 Durham Rd|                NULL|PSo_C1Sfa13JHjzVN...|Pet Services, Pet...|      Newtown|{8:0-17:0, 8:0-19...|      1|40.2734926|  -74.987496|Indian Walk Veter...|      18940|          15|  5.0|   PA|
|  2226 Frankford Ave|{NULL, NULL, NULL...|Gvi0ZAy2iuB2SHHMi...|Waxing, Hair Remo...| Philadelphia|{10:0-18:0, 0:0-0...|      1| 39.980297| -75.1290209|        Salon Masaya|      19125|          15|  5.0|   PA|
|    10588 109 Street|{NULL, NULL, u'no...|cVBxfMC4lp3DnocjY...|Coffee & Tea, Caf...|     Edmonton|{10:0-20:0, 0:0-0...|      0|53.5496333|-113.5087799|   Paws The Cat Cafe|    T5H 3B2|          20|  5.0|   AB|
|Enjoy Centre, 101...|{NULL, NULL, NULL...|T5cUsU60juLWFnark...|Food, Specialty Food|   St. Albert|{9:0-18:0, 0:0-0:...|      1| 53.611827| -113.646416|Evoolution Enjoy ...|    T8N 3X4|           6|  5.0|   AB|
| 1301 N Milwaukee St|{NULL, NULL, NULL...|fvWn8oXXwbj2l79co...|Trampoline Parks,...|        Boise|{10:0-22:0, 10:0-...|      1|43.6167635|-116.2853821|Altitude Trampoli...|      83704|          30|  5.0|   ID|
|4009 Hillsboro Pi...|{NULL, NULL, NULL...|EI_vnL8ZCWBcsmD9_...|Makeup Artists, S...|    Nashville|{9:30-17:30, 9:30...|      1| 36.104219|  -86.815897|     Private Edition|      37215|          20|  5.0|   TN|
|   15 N Missouri Ave|{NULL, NULL, NULL...|jaxMSoInw8Poo3XeM...|General Dentistry...|   Clearwater|{NULL, 7:30-15:30...|      1| 27.966235|  -82.787412|        Adams Dental|      33755|          10|  5.0|   FL|
|                    |{NULL, NULL, NULL...|rPltlVa25codBAOoJ...|Dentists, Health ...| Philadelphia|                NULL|      1|39.9556241| -75.1647529|Francis J Smithga...|      19102|           5|  5.0|   PA|
|1616 Chapala St, ...|{NULL, NULL, NULL...|Pns2l4eNsfO8kk83d...|Doctors, Traditio...|Santa Barbara|                NULL|      0|34.4266787|-119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|    4558 Oak Glen Dr|{NULL, NULL, NULL...|NmFL1JMolumzGsO2X...|Videographers, Ev...|Santa Barbara|{9:0-17:0, 9:0-17...|      1|34.4485302|-119.7810989| Riviera Productions|      93110|          16|  5.0|   CA|
+--------------------+--------------------+--------------------+--------------------+-------------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+